* {
  font-family: "JetBrainsMono Nerd Font", FontAwesome, sans-serif;
  font-size: 15px;
}

window#waybar {
  background: rgba(255, 255, 255, 0.15);
  transition: all 0.3s ease-in-out;
}

#workspaces button {
  background: rgb(20, 20, 30);
  color: #fff;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  margin: 5px 0;
}

#workspaces button:hover {
  background: rgba(20, 20, 30, 0.8);
}

#workspaces button.active {
  background: linear-gradient(135deg, #21d190, #1e90ff);
  color: #000;
}

#workspaces button.urgent {
  background: #ff6f61;
}

/* ----- Modules Styling ----- */
#clock,
#battery,
#backlight,
#network,
#pulseaudio {
  padding: 6px 12px;
  border-radius: 25px;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}

#clock {
  background: rgb(20, 20, 30);
  color: #f5e0dc;
  font-weight: bold;
}

#battery {
  background: rgb(20, 20, 30);
  color: #abe9b3;
}

#battery.critical:not(.charging) {
  background: #ff6f61;
}

#backlight {
  background: rgb(20, 20, 30);
  color: #f4e3b2;
}

#network {
  background: rgb(20, 20, 30);
  color: #ffffff;
}

#pulseaudio {
  background: rgb(20, 20, 30);
  color: #a1c4fd;
}

#pulseaudio.muted {
  background: #555555;
}
