* {
    font-family: "JetBrains Mono";
}

window {
    background: rgba(15, 15, 20, 1);
    border: 2px solid #b0b0b6;
    border-radius: 10px;
}

#input {
    margin-bottom: 6px;
    background-color: #101015;
    color: #cdd6f4;
    padding: 10px;
    border: 2px solid #b0b0b6;
    border-bottom: 1px solid #b0b0b6;
    border-radius: 6px;
    font-size: 15px;
}

#inner-box {
    padding: 5px;
}

#text {
    padding: 7px;
    color: #ffffff;
    font-size: 15px;
}

#entry {
    border: 1px solid #b0b0b6;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    margin: 3px;
}

#entry:hover {
    background-color: #3a3j45;
    transform: scale(1.02);
}

#entry:selected {
    background: linear-gradient(135deg, #1e90ff, #1f9bec);
    color: #1e1e2e;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(27, 163, 120, 0.4);
}

#entry:selected::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #cdd6f4;
    animation: glow 0.5s infinite alternate;
}

@keyframes glow {
    from {
        opacity: 0.9;
    }
    to {
        opacity: 1;
    }
}
